In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns #for plotting
import warnings
from sklearn.cluster import KMeans
import warnings
from sklearn.ensemble import RandomForestClassifier #for the model
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz #plot tree
from sklearn.metrics import roc_curve, auc #for model evaluation
from sklearn.metrics import classification_report #for model evaluation
from sklearn.metrics import confusion_matrix #for model evaluation
from sklearn.model_selection import train_test_split #for data splitting
from sklearn.feature_selection import RFE
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import svm
import statsmodels.api as sm
pd.options.mode.chained_assignment = None  #hide any pandas warnings
import scipy.stats as stats
import pylab
%matplotlib inline
pd.pandas.set_option('display.max_columns',None)
from statsmodels.tools.sm_exceptions import ConvergenceWarning
#import eli5 #for purmutation importance
#from eli5.sklearn import PermutationImportance
#import shap #for SHAP values
#from pdpbox import pdp, info_plots #for partial plots
np.random.seed(123) #ensure reproducibility
warnings.simplefilter('ignore', ConvergenceWarning)

In [4]:
dt = pd.read_csv("heart.csv")

In [5]:
dt.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
dt.columns = ['age', 'gender', 'chest_pain_type', 'resting_blood_pressure', 'cholesterol', 'fasting_blood_sugar', 'rest_ecg', 'max_heart_rate_achieved',
       'exercise_induced_angina', 'st_depression', 'st_slope', 'num_major_vessels', 'thalassemia', 'target']

In [7]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      303 non-null    int64
 1   gender                   303 non-null    int64
 2   chest_pain_type          303 non-null    int64
 3   resting_blood_pressure   303 non-null    int64
 4   cholesterol              303 non-null    int64
 5   fasting_blood_sugar      303 non-null    int64
 6   rest_ecg                 303 non-null    int64
 7   max_heart_rate_achieved  303 non-null    int64
 8   exercise_induced_angina  303 non-null    int64
 9   st_depression            303 non-null    float64
 10  st_slope                 303 non-null    int64
 11  num_major_vessels        303 non-null    int64
 12  thalassemia              303 non-null    int64
 13  target                   303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
X = dt.iloc[:,:-1]
Y = dt['target']

In [9]:
X.head()

,age,gender,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = .2, random_state=10) #split the data

In [11]:
random = RandomForestClassifier(criterion='gini',max_depth=5,random_state = 100,bootstrap=True,oob_score=False)
random.fit(X_train, Y_train)
pred_random = random.predict(X_test)
print ("Random Forest using Gini Index\nAccuracy is ",accuracy_score(Y_test, pred_random)*100 )

Random Forest using Gini Index
Accuracy is  77.04918032786885

In [13]:
dtc = DecisionTreeClassifier(criterion='gini',
    splitter='best',
    max_depth=5,
    max_features=None,
    random_state= 10,
    max_leaf_nodes=5)
dtc.fit(X_train, Y_train)
dtc_pred = dtc.predict(X_test)
print("dtc accurancy is", accuracy_score(Y_test,dtc_pred)*100)

dtc accurancy is 72.1311475409836

In [14]:
import pickle
with open('heart_disease.pkl', 'wb') as file:pickle.dump(random, file)